body {
  font-size: 1rem;
  line-height: 2;
  overflow-x: hidden;
}

nav {
  background-color: #6b55e6;
}

.identity {
  font-size: 1.5rem;
}

.occupation {
  font-size: 1.2rem;
}

.intro {
  background-image: url(../Images/Vector\ 12.png);
  background-repeat: no-repeat;
  height: auto;
  line-height: 2.5;
  padding: 4rem 0;
}

.bio {
  padding-left: 12rem;
}

.welcome {
  font-size: 2rem;
  font-weight: bolder;
}

h2 {
  animation: type 4s steps(44);
  overflow: hidden;
  white-space: nowrap;
}

@keyframes type {
  0% {
    width: 0;
  }

  100% {
    width: 44ch;
  }
}

.intro2 {
  font-size: 1rem;
}

.social-media {
  width: 25rem;
  border-radius: 1rem;
}

.linkedin {
  color: #0077b7;
}

.twitter {
  color: #00aced;
}

.facebook {
  color: #4c6ef5;
}

.fa-github,
.fa-linkedin,
.fa-twitter,
.fa-facebook-f,
.fa-at {
  font-size: 1.2rem;
}

.portfolio,
.about,
.pro-skills {
  margin: 0 4rem;
}

.my-portfolio,
.about-me {
  font-size: 2.5rem;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 215px;
  margin: 1rem 1rem 3.5rem 1rem;
  box-shadow: 0 5px 20px rbga(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.card:hover {
  height: 550px;
}

.imgBox {
  position: relative;
  max-width: 260px;
  height: 240px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.imgBox img {
  max-width: 100%;
  height: 150px;
  border-radius: 4px;
}

.card .content {
  position: relative;
  height: 150px;
  margin-top: -160px;
  padding: 20px 15px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card:hover .content {
  visibility: visible;
  height: 100%;
  opacity: 1;
  margin-top: -50px;
  transition-delay: 0.5s;
}

.project-title {
  font-size: 2rem;
  font-weight: 800;
}

.title-hide {
  font-size: 1.5rem;
}

.card:hover .title-hide {
  display: none;
}

.skills {
  font-size: 0.6rem;
  border-radius: 2rem;
}

.pro-button {
  font-size: 0.8rem;
}

.collapse-title {
  font-size: 1.3rem;
}

.bootstrap {
  width: 0.8rem;
}

.skill-img {
  width: 0.8rem;
}

.collaborate {
  font-size: 1.5rem;
  padding: 5rem 2rem 0 0;
}

.contact-form {
  background-image: url(../Images/footer\ shape.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.error {
  font-size: 0.7rem;
}

footer {
  background-color: #6b55e6;
}

@media only screen and (min-width: 992px) {
  .media-contact {
    padding: 0 12rem 3rem 0;
  }
}

@media only screen and (max-width: 992px) {
  .skills {
    font-size: 0.5rem;
    font-weight: lighter;
    padding: 0 0.2rem;
  }

  .porfolio-skills {
    padding: 0 0.2rem;
  }

  .identity {
    font-size: 1rem;
  }

  .occupation {
    font-size: 0.8rem;
  }

  .media-contact-icons,
  .email {
    display: flex;
    justify-content: center !important;
  }
}

@media only screen and (max-width: 767px) {
  .project-sect {
    margin-bottom: 1rem;
  }

  .feature {
    padding: 0 1rem;
  }

  .social-media {
    width: 14rem;
  }

  .social {
    font-size: 0.2rem;
  }

  .media-contact {
    margin-bottom: 1rem;
  }

  .interested {
    font-size: 0.8rem;
    padding: 1rem 1rem 0.5rem 5rem;
  }
}

@media only screen and (max-width: 481px) {
  .porfolio-skills p {
    font-size: 0.3rem;
  }

  .project-title {
    font-size: 1.5rem;
  }

  .fa-github,
  .fa-linkedin,
  .fa-twitter,
  .fa-facebook-f,
  .fa-at {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 370px) {
  .project-title {
    font-size: 1rem;
  }

  .skills {
    display: none;
  }
}
